.details__component--box {
  height: max-content;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  padding: 7rem 3rem;
  display: grid;
  gap: 2rem;
}

.dark {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.details__data--box {
  display: flex;
  justify-content: space-between;
}

.details__text {
  font-size: 1.2rem;
  line-height: 2.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.details__data {
  font-size: 2rem;
  font-weight: 700;
}

@media screen and (min-width: 30em) {
  .details__component--box {
    padding: 7rem 4.6rem;
  }

  .details__data {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 33em) {
  .details__component--box {
    padding: 7rem 5.4rem;
    row-gap: 5rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr max-content;
  }

  .details__data--box {
    flex-direction: column;
    gap: 1rem;
  }

  .details__text {
    font-size: 1.2rem;
    letter-spacing: 2.6px;
  }

  .details__data {
    font-size: 3rem;
  }
}

@media screen and (min-width: 38em) {
  .details__component--box {
    padding: 7rem 6rem;
    row-gap: 5rem;
  }

  .details__text {
    font-size: 1.3rem;
  }

  .details__data {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 44em) {
  .details__component--box {
    padding: 7rem 8rem;
  }
}

@media screen and (min-width: 55em) {
  .details__component--box {
    padding: 5rem 10rem;
  }

  .details__data {
    font-size: 3.6rem;
  }
}

@media screen and (min-width: 60em) {
  .details__component--box {
    padding: 5rem 14rem;
  }

  .details__data {
    font-size: 4rem;
  }
}

@media screen and (min-width: 67em) {
  .details__component--box {
    padding: 5rem 16rem;
  }

  .details__data {
    font-size: 5.4rem;
  }

  .details__data--box {
    gap: 1.2rem;
  }
}

@media screen and (min-width: 80em) {
  .details__component--box {
    padding: 5rem 18rem;
  }

  .details__data {
    font-size: 5.6rem;
  }

  .details__data--box {
    gap: 1.6rem;
  }
}
