.quote__component--box {
  display: flex;
  gap: 1.6rem;
  padding: 0 1.5rem 0 2.6rem;

  position: absolute;
  top: 8rem;
}

.quote__text-box {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  color: #fff;
  font-size: 1.2rem;
  opacity: 0.9;
  max-width: 70%;
}

.quote__author {
  font-weight: 700;
}

.btn__refresh {
  border: none;
  background-color: transparent;
  align-self: flex-start;
}

@media screen and (min-width: 23.5em) {
  .quote__text-box {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 33em) {
  .quote__component--box {
    gap: 2rem;
    padding: 0 5rem 0 5.6rem;
  }

  .quote__text-box {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 48em) {
  .quote__component--box {
    padding: 0 5rem 4rem 8rem;
  }

  .btn__refresh {
    cursor: pointer;
  }
}

@media screen and (min-width: 55em) {
  .quote__component--box {
    padding: 0 16.5rem 5.6rem 16.5rem;
  }
}

@media screen and (min-width: 65em) {
  .quote__text-box {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}
