.background__container {
  height: 100vh;
  padding-top: 2.6rem;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.day {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/mobile/bg-image-daytime.jpg");
  background-repeat: space;
  background-size: cover;
  background-position: center;
}

.night {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/mobile/bg-image-nighttime.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* *************** MEDIA QUERIES *************** */

@media screen and (min-width: 32em) {
  .day {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../../assets/tablet/bg-image-daytime.jpg");
    background-position: center;
  }

  .night {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../../assets/tablet/bg-image-nighttime.jpg");
    background-position: center;
  }
}

@media screen and (min-width: 34em) {
  .background__container {
    padding-top: 5.6rem;
  }
}

@media screen and (min-width: 48em) {
  .day {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../../assets/desktop/bg-image-daytime.jpg");
    background-position: center;
    max-width: 144rem;
  }

  .night {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../../assets/desktop/bg-image-nighttime.jpg");
    background-position: center;
    max-width: 144rem;
  }
}
