.background__container {
  height: 100vh;
  padding: 3.2rem 2.6rem;
  z-index: 0;
}

.day {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/mobile/bg-image-daytime.jpg");
  background-repeat: space;
  background-size: cover;
  background-position: center;
}

.night {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/mobile/bg-image-nighttime.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* *************** MEDIA QUERIES *************** */

@media screen and (min-width: 32em) {
  .day {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../../assets/tablet/bg-image-daytime.jpg");
    background-position: center;
  }

  .night {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../../assets/tablet/bg-image-nighttime.jpg");
    background-position: center;
  }
}

@media screen and (min-width: 36.5em) {
  .background__container {
    padding: 5.6rem 6rem;
  }
}

@media screen and (min-width: 48em) {
  .background__container {
    padding: 5.6rem 10rem;
  }

  .day {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../../assets/desktop/bg-image-daytime.jpg");
    background-position: center;
    max-width: 144rem;
  }

  .night {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../../assets/desktop/bg-image-nighttime.jpg");
    background-position: center;
    max-width: 144rem;
  }
}

@media screen and (min-width: 55em) {
  .background__container {
    padding: 5.6rem 16.5rem;
  }
}

@media screen and (min-width: 80em) {
  .background__container {
    padding: 5.6rem 16.5rem;
  }
}
